/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Caudex&family=Caveat+Brush&family=Caveat:wght@400;500;600&family=Chelsea+Market&family=Gaegu:wght@300;400;700&family=Lexend+Mega&family=Luckiest+Guy&family=PT+Sans+Narrow&family=Poppins:ital,wght@0,200;0,400;0,600;1,400&family=Questrial&family=Quicksand&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&family=Schoolbell&family=Zen+Antique+Soft&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  /* background-color:#118951; */
  background-image: linear-gradient(#99d17360,#f5f29977);
  background: url(bg2.webp);
  background-size: cover;
  background-repeat: repeat;
}


.container-fluid .logo img{
  width: 70px;
  height: 70px;
  padding: 3px 0px;
  margin: 3px;
}

.navbar {
    /* background-color: #17794b; */
    padding: 0 5px ;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 5;
    text-shadow: 3px 3px 10px #0101017c;
}

.navbar-toggler , .navbar-toggler-icon {
  background-color: #064326;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  padding-bottom: 5px;
}

#MYNAV ul li a{
  color: white;
  margin-left: 30px;
  vertical-align: middle;
  font-family: Poppins, sans-serif;
  font-weight: bold;
 
}

#MYNAV ul li a:hover{
    background-color: #f2e38f;
    color:#08331f;
    text-transform: uppercase;
    width:120x;
    transition: 0.5s;
    font-size: 18px;
    /* border-bottom: 4px solid #d3b400; */
    vertical-align: middle;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 10px;
}

#MYNAV .active {
  text-transform: uppercase;
  background-color: #f2e38f;
  border-bottom: 6px solid #d3b400;
  color:#08331f;
  border-radius: 5px;
}

.dropdownn {
  overflow: hidden;
}

.dropdownn .btn1 {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
}

.dropdown-cont {
  display: none;
  position: absolute;
  min-width: 150px;
  box-shadow: 0px 8px 16px 10px #00000033;
  background-color:#072d1bb8;
  text-decoration: none;
  list-style-type:none;
  padding-inline-start: 5px;
  margin-left: 50px;
  border-radius: 5px;
}

.dropdown-cont a {
  float: none;
  padding: 5px 0px;
  text-decoration: none;
  text-align: left;
}

.dropdownn:hover .dropdown-cont {
  display: block;
}

#LogIn-btn {  
  width:fit-content; 
  border-radius: 50px;
  border: 1px solid white;
}

#LogIn-btn a{
   text-decoration: none;
   color: white;
   font-weight: bold;
  
}

#LogIn-btn:hover {
  color: white;
  text-transform: uppercase;
  width:auto;
  transition: 0.25s;
  background-color: #08331f;
  border: 1px solid white;
}





.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    column-gap: 30px;
}
.form{
    margin-top:100px;
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0px 8px 16px 10px #00000033 ;
    background: #f9f9f93c;
}
.form.signup{
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}
header{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 5px;
    color:  #10673e;
    text-shadow: 3px 3px 3px #0a0a0a55;
    font-family: 'Chelsea Market', cursive;
}

::placeholder {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
}

.form .field, form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
    border-color: #17794bb4;
}

.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button{
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 16px;
    justify-content: center;
    background: linear-gradient(#214d03c2,#eeb62a8d); 
    box-shadow: 0px 14px 80px rgba(46, 38, 38, 0.4);
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover{
    color: white;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    background-color: #08331ff1;
    border: 1px solid #f9f9f93c;
    font-size: 18px;
}

.form-check {
  margin-top: 5px;
}

.form-check-label {
  text-decoration: none;
  color: black;
}

label {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #24262b5c;
}


.thisBtn{
    color: #fff;
    background-color: #01d355;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 50px;
}

.thisBtn:hover{
    background-color: #01cb4e;
}

.form-link{
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a{
    font-size: 16px;
    font-weight: 400;
    color: #040404;
    font-family: 'Questrial', sans-serif;
}

.signup-link:hover {
  background-color:#10673ea9;
  border-radius: 10px;
  color: white;
    text-transform: uppercase;
    padding:8px;
}

.form a{
    color: black;
    text-decoration: none;
    border-style: none none double double ;
    border-color: #f9f9f93c #f9f9f93c #01cb4e #01cb4e;
    padding: 3px;
    border-radius: 10px;
    font-size: 14px;
}

.form-content a:hover{
    background-color:#10673ea9;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    padding:8px;
}

.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #ffffff;
}

.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }
    
}
.invalid input {
    border-color: #d93025;
  }
  .input-field .show-hide {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #919191;
    cursor: pointer;
    padding: 3px;
    
  }
  .field .error {
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: #d93025;
    font-size: 13px;
    display: none;
  }
  .invalid .error {
    display: flex;
  }
  .error .error-icon {
    margin-right: 6px;
    font-size: 15px;
  }
  .create-password .error {
    align-items: flex-start;
  }
  .create-password .error-icon {
    margin-top: 4px;
  }
/* The Modal (background) */
.modal_multi {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */ 
  }

  
    
  /* Modal Content/Box */
  
  /* .modal-content {
    background-color: #fefefe;
    
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    top: 0px;
  }
  */
  
   /* The Close Button */
  .closes {
    color: rgb(97, 204, 44);
  margin-top: 0rem;
    font-size: 28px;
    font-weight: bold;
    /* margin-left: 40rem; */
    justify-content:center;
    float:left;
  }
  
  .closes:hover,
  .closes:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modalContainer{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-columns: repeat(auto-fit, minmax(300px,2fr));
    width: 100%;
    height:100%;
    grid-gap:1rem;
    text-align: center;
    justify-items: center;
  }
 

 
.cont-ft {
  z-index: 5;
}

.footer {
  background-color: #e9ecef;
  margin:0;
  padding: 0;
box-sizing: border-box;
  color: black;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  z-index: 5;
}

.foot {
  /* padding-top: 20px; */
  padding-bottom: 12px;
  width: 100%;
  margin: 0;
}

 #footer-cont{
max-width: 1170px;
margin:auto;
  ;
}

.row #footer-cont{
display: flex;
flex-wrap: wrap;
}

#footer-ul{
list-style: none;
}

.footer-col{
 width: 25%;
 padding: 0 15px;
 /* background-color: red; */
}

.footer-col h4{
font-size: 18px;
text-transform: capitalize;
margin-bottom: 20px;
font-weight: 500;
position: relative;
  margin-top: 20px;
}

.footer-col h4::before{
content: '';
position: absolute;
left:0;
bottom: -10px;
background-color:#17794b;
height: 2px;
box-sizing: border-box;
width: 50px;
}

.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}

.footer-col ul li {
font-size: 14px;
display: block;
transition: all 0.3s ease;
  list-style: none;
  color: black;
}

.footer-col ul li a {
  text-decoration: none;
  color: black;
}

.footer-col ul li a:hover{
padding-left: 25px;
}

.footer-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
/* background-color: #ffffff33; */
margin:0 10px 10px 0;
text-align: center;
line-height: 50px;
border-radius: 50%;
transition: all 0.5s ease;
  color: black;
}

.footer-col .social-links a:hover{
color: #24262b;
/* background-color: #ffffff;*/
} 

.logo-ft {
  max-width: 100%;
  height:auto;
  /* transform: rotateY(20deg); */
  filter: drop-shadow(18px 15px 12px rgba(2, 80, 2, 0.597));
  align-content: center;
  padding: 10px;
}

#bottom-ft{
  text-align: center!important;
  text-decoration: underline lightgray;
  background-color: lightgray;
  color:black;
}

/*responsive*/
@media(max-width: 767px){
.footer-col{
  width: 50%;
  margin-bottom: 30px;
}
}
@media(max-width: 574px){
.footer-col{
  width: 100%;
}
}

@media (max-aspect-ration: 16/9) {
  * {
    font-size: 15px;
    margin:0;
    box-sizing: border-box;
    padding:0
  }
}
